<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填写入库申请</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer-black.css">
    <link rel="stylesheet" type="text/css" href="css/risk-assessment.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script src="javascript/jquery-3.5.1.js" type="text/javascript" language="JavaScript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="javascript/bootstrap.min.js" type="text/javascript" language="JavaScript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-ligh shadow">
    <a class="navbar-brand" href="#">
        <img src="resource/logo.png" width="120px" height="auto">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item head-tag"><a class="nav-link" href="javascript:void(0);">首页</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="我的业务.html">我的业务</a></li>
            <li class="nav-item head-tag"><a class="nav-link " href="javascript:void(0);">关于我们</a></li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item head-tag">
                <a class="nav-link" href="我的业务.html">
                    个人中心
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item head-tag">
                <a class="nav-link" href="登录.html">
                    切换账号
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="background-mesh background-gray">
    <div class="risk-assessment-container container">
        <div class="risk-assessment-title-container">
            <p class="risk-assessment-title">风险评估</p>
            <p class="risk-assessment-description">请您填写以下信息，我们将根据它们为您进行风险评估</p>
        </div>
        <form action="" method="post">
            <div class="input-line">
                <label class="input-label">货物种类</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入入库货物种类">
            </div>
            <div class="input-line">
                <label class="input-label">货物数量</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入库入货物数量">
            </div>
            <div class="input-line">
                <label class="input-label">订单总额</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入订单总额">
            </div>
            <div class="input-line">
                <label class="input-label">买方名称</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入买方名称">
            </div>
            <div class="input-line">
                <label class="input-label">买方企业组织机构代码</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入买方企业组织机构代码">
            </div>
            <div class="input-line">
                <label class="input-label">物流公司名称</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入物流公司名称">
            </div>
            <div class="input-line">
                <label class="input-label">发货地址</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入发货地址">
            </div>
            <div class="input-line">
                <label class="input-label">收货地址</label>
                <input type="text" class="input-regulation" name="" size="50" placeholder="请输入收货地址">
            </div>
            <div class="text-center">
                <button type="submit" class="button risk-assessment-submit-button" >提交</button>
            </div>
        </form>

    </div>
</div>


<footer class="container-fluid">
    <div class="row">
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">关于我们</a></p>
        </div>
        <div class="col-md-2 foot-tag">
            <p><a href="#">法律声明及隐私政策</a></p>
        </div>
        <div class="col-md-1 offset-1 foot-tag">
            <p><a href="#">加入我们</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <address>Address/地址：辽宁省大连经济技术开发区图强街321号</address>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>P.C./邮编：116600</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1 foot-tag foot-tag-color">
            <p>Tel/联系电话：020-000000 000-000000</p>
        </div>
        <div class="col-md-2 foot-tag foot-tag-color">
            <p>Mail/邮箱：contact@fkadjkhsf.com</p>
        </div>
    </div>

</footer>
</body>
</html>